html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('https://аналог-программы.рф/img/82e5a3982d5549e994183bcfdfb86f44.jpg') center no-repeat;
  background-size: cover;
}

.glitch {
  background: linear-gradient(to bottom, #08468e 0%, #007edf 18%, #81e1f9 25%, #c1eef6 32%, #c1eef6 35%, #007edf 48%, #05162e 53%, #05162e 53%, #08468e 57%, #08468e 57%, #007edf 67%, #c1eef6 76%, #007edf 86%, #81e1f9 96%);
  color: #fff;
  display: inline-block;
  font-size: 121px;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 3px;
  padding-right: 20px;
  position: relative;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glitch:before {
   background: transparent;
   top: 0px;
   color: #fff;
   content: 'Govno';
   font-style: italic;
   display: block;
   left: 1px;
   position: absolute;
   text-shadow: 1px 3px 5px #ec10b0, 0 0 5px #ec10b0, 0 0 10px #ec10b0;
   -webkit-background-clip: initial;
   -webkit-text-fill-color: initial;
   z-index: -1;
}

